.config/google-chrome/*
.config/eww/*
.config/pulse/*
.config/pypoetry/*
.config/vlc/*
.config/Slack/*
.config/systemd/*
.config/tmux/plugins/*
.local/*
!.local/bin/
.local/bin/eww/
.local/bin/poetry
